@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>



	<!-- Animate.css -->
	<link rel="stylesheet" href="~/LoginPageStatic/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="~/LoginPageStatic/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="~/LoginPageStatic/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="~/LoginPageStatic/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/LoginPageStatic/css/magnific-popup.css">



	<!-- Theme style  -->
	<link rel="stylesheet" href="~/LoginPageStatic/css/style.css">

	<!-- Modernizr JS -->
	<script src="~/LoginPageStatic/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<style>

</style>
<body>

	<div class="gtco-loader"></div>

	<div id="page">


	<div class="page-inner">

			<header id="gtco-header" class=" " role=" " style="">
				<div class="overlay"></div>
				<div class="gtco-container">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-left">


							<div class="row row-mt-15em">
								<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
									<span class="intro-text-small">Welcome to UserPage</span>
									<h1>Build user information using this.</h1>
								</div>
								<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
									<div class="form-wrap">
										<div class="tab">
											<ul class="tab-menu">
												<li class="active gtco-first"><a href="#" data-tab="signup">Sign up</a></li>
												<li class="gtco-second"><a href="#" data-tab="login">Login</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-content-inner active" data-content="signup">
													<form action="#">
														<div class="row form-group">
															<div class="col-md-12">
																<label for="username">Username or Email</label>
																<input type="text" class="form-control" id="username">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<label for="password">Password</label>
																<input type="password" class="form-control" id="password">
															</div>
														</div>
														<div class="row form-group">
															<div class="col-md-12">
																<label for="password2">Repeat Password</label>
																<input type="password" class="form-control" id="password2">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<button onclick="sumbitFunctionSignup()" type="submit" class="btn btn-primary" value="Sign up"> Sign up </button>
															</div>
														</div>
													</form>
												</div>

												<div class="tab-content-inner" data-content="login">
													<form action="#">
														<div class="row form-group">
															<div class="col-md-12">
																<label for="username">Username or Email</label>
																<input type="text" class="form-control" id="username">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<label for="password">Password</label>
																<input type="password" class="form-control" id="password">
															</div>
														</div>

														<div class="row form-group">
															<div class="col-md-12">
																<input type="submit" class="btn btn-primary" value="Login">
															</div>
														</div>
													</form>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</header>





			<div class="gtco-section border-bottom">
				<div class="gtco-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
		</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="~/LoginPageStatic/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="~/LoginPageStatic/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="~/LoginPageStatic/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="~/LoginPageStatic/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="~/LoginPageStatic/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="~/LoginPageStatic/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="~/LoginPageStatic/js/jquery.magnific-popup.min.js"></script>
	<script src="~/LoginPageStatic/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="~/LoginPageStatic/js/main.js"></script>




	<script>

	function sumbitFunctionSignup() {
			var username = document.getElementById("username").value;
			localStorage.setItem("username", text);

			var username = document.getElementById("password").value;
			localStorage.setItem("password", text);

			alert("Button was clicked!");

		 if (username!= null){

		 }
		 else {

		 }
	}

	</script>
</body>
</html>


