@{
    Layout = null;
}
<!-- ===== First Tab ===== -->
<body>
	<style>
		body {
			background-image: url("Content/AboutMe/Picture/portfolio-3.jpg");
			background-size: cover;
		}
	</style>
</body>

<div class="tab-pane active" id="about">
	<h3>Cheng hsun yu</h3>
	<h5>Web Designer</h5>
	<hr>


	<img class="w-auto h-auto" src="~/Content/AboutMe/Picture/TedBear.jpg" alt="Tedbear">
	


	<p>Computer Programming: Java, C#, Node.js, .NET Core, Source tree, MySQL, HTML, Amazon web Services, SQL.</p>
	<p>Languages: English, Mandarin, Taiwanese</p>
	<p class="pull-right red"><i class="icon-heart"></i></p>
</div><!-- tab about -->
<!-- ===== Second Tab ===== -->
<h4><i class="icon-briefcase"></i> Job Experience</h4>
<p class="sm">

</p>

<h4><i class="icon-file-text-alt"></i> Education</h4>
<p class="sm">
	<grey> Gerogia state university<br />
</p>



<!-- ===== third tab  == -->
<h4>Contact Information</h4>
<hr>
<div class="row">
	<div class="col-xs-6">
		<p class="sm">
			- te0912286148@gmail.com  <br />
			- 2152627365
		</p>
	</div><!-- col-xs-6 -->


</div><!-- row -->

